.contact .title{
    animation: $topVertical;
}
.contactInfo{
    display: none;
}
input, textarea {
    background-color: transparent;
    border: 1px solid $gray;
    padding: 1.2rem 0.8rem 0.5rem;
    border-radius: 0.2rem;
    width: 100%;
    color: $white;
}
textarea{
    height: 10rem;
    resize: none;
}
label{
    position: absolute;
    left: 0.8rem;
    top: 0.8rem;
    transition: .3s all;
}
input:focus + label,
textarea:focus + label,
.effectLabel{
    font-size: 0.7rem;
    top: 0.2rem;
}

.contactForm{
    width: 100%;
    animation: $rigthHorizontal;
    h2 {
        font-size: 2rem;
    }
}

.contentInput{
    margin-bottom: 1.5rem;
    position: relative;
}

@include mx-response(lg){
    .contact{
        flex-wrap: wrap;
        .title{
            width: 100%;
            text-align: center;
        }
    }
    .contactInfo{
        display: block;
        animation: $leftHorizontal;
    }
    .contentInfo{
        margin-bottom: 1.5rem;
        @include mx-flex($justify: start);
        gap: 1.5rem;

        .icon{
            display: inline-block;
            background-color: $primary-color;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            font-size: 1.2rem;
            @include mx-flex;
        }
    } 
}