.projects{
    flex-direction: column;
}
.containerProjects{
    display: grid;
    gap: 2rem;
}

@include mx-response(md){
    .projects{
        justify-content: center;
    }
    .containerProjects{
        grid-template-columns: repeat(2, 1fr);
    }
}


