.about {
    .containerInfo{
        align-items: initial;
    }
    .description{
        margin-bottom: 2rem;
    }
} 

.containerSkills{
    margin-top: 2rem;
}
.titleSkill{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    li{
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        text-align: center;
    }
    svg{
        font-size: 1.2rem;
    }
    
}

@include mx-response(md){
    .skills{
        grid-template-columns: repeat(4, 1fr);
    }
    .containerSkills{
        margin-top: 3.5rem;
    }
}