.banner{
    min-height: 100vh;
    @include flex($direction: column);
    gap: 2rem;
    color: $white;
}
.containerImg{
    & img{
        max-width: 10rem;
    }
}
.containerInfo{
    @include flex($direction: column);
}
.content{
    font-family: $secondary-font;
    margin-bottom: 1.5rem;
    text-align: center;
}

.info{ 
    text-transform: uppercase;
}

.name{
    font-size: 2.6rem;
}

.role{
    font-size: 1.2rem;
}
.description{
    max-width: 500px;
}

.buttons{
    display: flex;
    gap: 1.5rem;
}
.textProject{
    color: $primary-color;
}
.social{
    display: flex;
    gap: 1.5rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    & a{ 
        color: $white;
        &:hover{
            color: $primary-color;
        }
    }
}

@include response(lg){
    .banner{
        @include flex($justify: space-between);
        gap: 4rem
    }
    .content{
        text-align: left;
    }
    .containerInfo{
        align-items: initial;
    }
    .name{
        font-size: 4rem;
    }
    .role{
        font-size: 2rem;
    }
    .containerImg{
        order: 2;
        & img{
            max-width: 100%;
            width: 75%;
        }
    }
}