.nav{
    position: fixed;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonsNav{
    width: 80%;
    max-width: 400px;
    background-color: $tertiary-color;
    border-radius: 3rem;
    padding: 0.4rem 1.5rem;
    display: flex;
    justify-content: space-between;
    & .btn{
        font-size: 1rem;
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        transition: all .3s;
        &:hover{
            background: linear-gradient(90deg, $primary-color 15%, $secondary-color 95%);
        }
    }
}


@include mx-response(lg){
    .nav{
        align-items: center;
        width: fit-content;
        min-height: 100vh;
        right: 2rem;
    }
    .buttonsNav{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        padding: 1.5rem 0.6rem;
        gap: 1rem;
    }
}

@include mx-response(xl){
    .nav{
        right: 4rem;
    }
}