
/*Colors*/
$primary-color: #fc6511;
$secondary-color: #2b292b;
$bg-color: #121113;
$white: #FFFFFF;
$black: #000000;
$gray: #808080;
$lightGray: #E8E8E8;
$dark: #2f2e2f;
$danger: #DC8686;


/*Fonts*/
$primary-font: 'Orbitron';
$secondary-font: 'Rajdhani';
$tertiary: 'Aldrich';

/*Animation*/
$fade-in-left: fade-in-left 1s;
$fade-in-right: fade-in-right 1s;
$fade-in-top: fade-in-top 1s;
$fade-in-bottom: fade-in-bottom 1s;