
.content{
    margin-bottom: 1.5rem;
    text-align: center;
}

.info{ 
    text-transform: uppercase;
}

.role{
    display: block;
    font-size: 1.2rem;
    border-right: 3px solid;
    width: 18ch;
    white-space: nowrap;
    animation: typing 3s steps(18), blink .5s infinite step-end alternate;
    overflow: hidden;
}

.textProject{
    color: $primary-color;
}
.social{
    display: flex;
    gap: 1.5rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    & a{ 
        color: $white;
        &:hover{
            color: $primary-color;
        }
    }
}

.title{
    color: $primary-color;
}

@include mx-response(lg){
    .content{
        text-align: left;
    }
    .banner .containerImg{
        order: 2;
    }
    .role{
        font-size: 2rem;
    }
}

@keyframes typing {
    0%{
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}