.projects{
    flex-direction: column;
    .title{
        animation: $fade-in-top;
    }
}
.containerProjects{
    display: grid;
    gap: 2rem;
    animation: $fade-in-bottom;
}

@include mx-response(md){
    .projects{
        justify-content: center;
    }
    .containerProjects{
        grid-template-columns: repeat(2, 1fr);
    }
}


