.btn{
    display: inline-block;
    font-family: $primary-font;
    border: none;
    padding: 0.5rem;
    color: $white;
    background-color: initial;
    letter-spacing: 1px;
    cursor: pointer;
    width: fit-content;
}

.btnPrimary{
    padding: 0.8rem 4rem 0.8rem 1.5rem;
    height: 2.7rem;
    border: 1px solid $primary-color;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before{
        content: "";
        position: absolute;
        background-color: #fc6511;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translateX(100%);
        transition: .3s all;
    }

    .icon{
        background-color: $primary-color;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1px;
        border-radius: 1.5rem;
        width: 2.7rem;
        line-height: 2.7rem;
        font-size: 1.1rem;
        svg{
            position: absolute;
            right: 0.7rem;
            top: 0.7rem;
        }
    }

    &:hover::before{
        transform: translateX(0);
    }

    &[disabled]{
        cursor: not-allowed;
    }
}
