.nav{
    position: fixed;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.buttonsNav{
    width: 80%;
    max-width: 250px;
    background-color: $secondary-color;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    .btn{
        font-size: 1.1rem;
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        transition: all .3s;
        &:hover, &.active{
            background: $primary-color;
        }
    }
}


@include mx-response(lg){
    .nav{
        align-items: center;
        width: fit-content;
        min-height: 100vh;
        right: 2rem;
    }
    .buttonsNav{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 1rem;
        background-color: transparent;

        .btn{
            background-color: $secondary-color; 
        }
    }
}

@include mx-response(xl){
    .nav{
        right: 3rem;
    }
}