
/*Colors*/
$primary-color: #fc6511;
$secondary-color: #2b292b;
$bg-color: #121113;
$white: #FFFFFF;
$black: #000000;
$gray: #cccccc;


/*Fonts*/
$primary-font: 'Orbitron';
$secondary-font: 'Rajdhani';
$tertiary: 'Aldrich';