
/*Colors*/
$primary-color: #01c0ff;
$secondary-color: #3c2a73;
$tertiary-color: #1d2257;
$white: #FFFFFF;
$black: #000000;
$gray: #cccccc;


/*Fonts*/
$primary-font: 'Orbitron';
$secondary-font: 'Rajdhani';
$tertiary: 'Aldrich';